<!doctype html>
<html lang="en" data-ng-app="chargesApp">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>


    <title>Port charges</title>

    <style>
        html, body {
            height: 100%;
            width: 100%;
            overflow-x: hidden;
        }

        tr.OK {
            color: green;
        }

        tr.OUTLIE {
            color: red;
        }

        tr.SUSPICIOUS {
            color: orange;
        }
    </style>
</head>

<body data-ng-controller="chargesController">
    <div class="row" style="padding: 20px 20px 0 20px">

        <div class="form-group col-sm-4" data-ng-show="newCharge == null">
            <!--accept="application/json"-->
            <input id="file" type="file" data-nv-file-select="" data-uploader="uploader" style="display: none" />
            <button type="button" class="btn btn-default" onclick="$('#file').click()">Batch upload</button>
            <button type="button" class="btn btn-default" data-ng-click="addNewCharge()">Add charge</button>
        </div>

        <div class="col-sm-3" data-ng-show="uploading">
            <img src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/2.25/css/loading.gif"> Uploading...
        </div>

        <div class="form-group col-sm-3" data-ng-show="newCharge == null && !uploading">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="queryParams.unsuccessfulOnly" data-ng-change="handleQueryParametersChange()"/>Show charges that require attention
                </label>
            </div>
        </div>

        <div class="form-group col-sm-2" data-ng-show="newCharge != null">
            <label for="portCode">Port code:</label>

            <input id="portCode" type="text" data-ng-model="newCharge.port" class="form-control" maxlength="5">
        </div>

        <div class="form-group col-sm-2" data-ng-show="newCharge != null">
            <label for="platform">Supplier ID:</label>

            <input id="platform" type="number" data-ng-model="newCharge.supplier_id" class="form-control">
        </div>

        <div class="form-group col-sm-2" data-ng-show="newCharge != null">
            <label for="price">Price:</label>

            <input id="price" type="number" data-ng-model="newCharge.value" class="form-control">
        </div>

        <div class="form-group col-sm-2" data-ng-show="newCharge != null">
            <label for="currency">Currency:</label>

            <input id="currency" type="text" data-ng-model="newCharge.currency" class="form-control">
        </div>

        <div class="form-group col-sm-2" data-ng-show="newCharge != null">
            <button type="submit" class="btn btn-default" data-ng-click="addCharge()" style="margin-top: 25px;">Add</button>

            <button type="submit" class="btn btn-default" data-ng-click="cancelAddingCharge()" style="margin-top: 25px;">Cancel</button>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9">
            <table class="table table-condensed" data-ng-show="charges != null">
                <thead>
                    <tr>
                        <th>County</th>
                        <th>Port code</th>
                        <th>Supplier ID</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>USD Price</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody data-ng-show="charges.length > 0">
                    <tr data-ng-repeat="c in charges" class="{{c.status}}">
                        <td>
                            <img style="max-height: 24px;" data-ng-src="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/{{c.countryCode.toLowerCase()}}.svg">
                        </td>

                        <td>
                            {{c.port}}
                        </td>

                        <td>
                            {{c.supplier_id}}
                        </td>

                        <td>
                            {{c.value}}
                        </td>

                        <td>
                            {{c.currency}}
                        </td>

                        <td>
                            {{c.normalizedPrice}}
                        </td>

                        <td>
                            {{c.status}}
                        </td>

                        <td>
                            <button class="btn btn-default btn-sm" data-ng-click="approveCharge(c)" data-uib-tooltip="Approve" data-ng-show="c.status != 'OK'">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tbody data-ng-show="charges.length == 0">
                    <tr><td colspan="7" class="text-center">
                        Start by adding port charge or uploading JSON file with charges.
                    </td></tr>
                </tbody>

                <tfoot data-ng-show="itemsCount > 15">
                    <tr>
                        <td colspan="7" class="text-center">
                            <ul data-uib-pagination
                                data-max-size="10"
                                data-items-per-page="15"
                                data-total-items="itemsCount"
                                data-ng-change="refresh()"
                                data-ng-model="queryParams.page">
                            </ul>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>

        <div class="col-sm-3">
            <highchart config="chartConfig"></highchart>

            Reference prices (USD):
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>County code</th>
                        <th>OK</th>
                        <th>Suspicious</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="c in references">
                        <td>
                            <img style="max-height: 24px;" data-ng-src="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/flags/1x1/{{c.countryCode.toLowerCase()}}.svg">
                        </td>

                        <td>
                            {{c.reference.low}} - {{c.reference.high}}
                        </td>

                        <td>
                            {{c.suspiciousReference.low}} - {{c.suspiciousReference.high}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.4.1/angular-file-upload.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
<script src="app.js"></script>
</html>